
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>


<body>
        <% include ./partials/_header.ejs %>
  

<ul>
    <% for (var short_URL in userDatabase) {%>
    <li>
        <%= short_URL%>
    </li>
    <li>
        <%= userDatabase[short_URL]%>
    </li>
    <form method="POST" action="/urls/<% short_URL%>/delete">
        <input type="submit" value="Delete">
    </form>
    <% } %> </ul>

 <a href="/urls/new">Create new short url</a>

</body>
</html>
